In [1]:
URL = 'https://www.indeed.fr/jobs?q=data+science&l=Paris&start=0'

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
from tqdm import tqdm

In [3]:
## YOUR CODE HERE
r = requests.get(URL)

soup = BeautifulSoup(r.text, 'html.parser')

jobs = soup.find_all(name='div', attrs={'class':"result"})

In [4]:
def extract_company_from_result(html):
    try:
        return html.find("span",{"class":"company"}).text
    except:
        return None

In [5]:
def extract_salary_from_result(html):
    try:
        html = html.find("span",{"class":"no-wrap"}).text
        return html.replace(u'\xa0', '')
    except:
        return None

In [6]:
def extract_location_from_result(html):   
    try:
        return html.find("span",{'class':'location'}).text
    except:
        return None

In [7]:
def extract_job_from_result(html):
    try:
        return html.find("a").text
    except:
        return None

In [8]:
import unicodedata
url_template = "https://www.indeed.fr/jobs?q=data+science&l={}&start={}"
max_results_per_city = 2000
results = []
#html = html_raw.replace('\xa0','')

for city in ['Paris', 'Courbevoie','Levallois-Perret','Puteaux','Asnières-sur-seine','Nanterre']:
    for start in tqdm(range(0, max_results_per_city, 10)):
        r1 = requests.get(url_template.format(city,start))

        soup = BeautifulSoup(r1.text, 'html.parser')
        #soup.prettify(formatter=lambda s: s.replace(u'\xa0', ' '))
        
        jobs = soup.find_all(name='div', attrs={'class':"result"}) # Grab the results from the request (as above)
        #jobsnew = unicodedata.normalize("NFKD",jobs.text)
        results.extend(jobs) # Append to the full set of results

100%|██████████| 200/200 [01:34<00:00,  2.12it/s]
100%|██████████| 200/200 [01:35<00:00,  2.10it/s]
100%|██████████| 200/200 [01:36<00:00,  2.07it/s]
100%|██████████| 200/200 [01:34<00:00,  2.13it/s]
100%|██████████| 200/200 [01:33<00:00,  2.14it/s]
100%|██████████| 200/200 [01:36<00:00,  2.07it/s]

In [9]:
## YOUR CODE HERE
dflist = [{"job_title":extract_job_from_result(result),"company":extract_company_from_result(result),
      "location":extract_location_from_result(result),"salary":extract_salary_from_result(result)} for result in results]
#dflist.replace('&nbsp;',' ')

#dflist=dflist.replace(" ", "")
#dflist.update({" ":""})

In [10]:
#df1=df.replace({'\n':''}, regex=True)
#df.replace(to_replace="\n",value="",regex=False,inplace=True)
#df = df.replace("\n", "")
#df1 = [df.replace("\n", "") for df in df1]
#df.replace({'\n': ''})
import pandas as pd
import re
df=pd.DataFrame(dflist)
df = df.replace({'\n':''}, regex=True)
#df = df.replace({' ':''}, regex=True)
#df = df.replace({'&nbsp;':''}, regex=True)
#df['salary'] =re.sub('(?<=\d) (?=\d)', '', df['salary']).astype(str)
#df['salary'] = df['salary'].str.replace(" 0", "0")
#df['salary']=df['salary'].apply(str)
#df['salary'] = df['salary'].str.replace("0 ", "0")
#df.salary.str.replace(',', '').apply(extract_average)
#df['salary'] = df.salary.str.replace(" 0", "0")
#df['salary'] = df.salary.str.replace("&nbsp;","")
#df['salary'] = df['salary'].replace({" 0": "0"}, regex=True)
df.head(50)

,job_title,company,location,salary
0,STAGE DATA SCIENCE (H/F),Epsilon France,None,1300 € par mois
1,Data Scientist H/F,Ad Scientiam,None,None
2,Cloud Engineer (AWS) H/F - CDI,Jellysmack,None,None
3,Clinical Site Manager II / CRA II,PAREXEL,None,None
4,Senior Data Scientist FinTech,Easy Partner,None,75000 € - 85000 € par an
5,Project Data Management,NES Global Talent,None,None
6,Junior Data Science / Machine Learning Enginee...,Artur'In,Paris (75),None
7,"STAGE - Assistant(e) Data Science, EMEA H/F",Ubisoft,Paris (75),None
8,Stage Data Science - Graphes de connaissances ...,BPCE SA,Paris (75),None
9,STAGIAIRE DATA SCIENCE,RELX Group,Paris (75),None
10,Stagiaire Data Scientist (H/F),Carrefour,Paris 13e (75),None
11,STAGIAIRE DATA SCIENCE,LexisNexis SA,Paris (75),None
12,Stage - R&I - Data Science/Machine learning - ...,L'Oreal,Paris (75),1250 € par mois
13,Stage Data Science H/F (Paris),Keyrus,Paris (75),1200 € par mois
14,Docteur.e en data science,Science me Up,Paris (75),None
15,DATA ENGINEER (H/F),Epsilon France,None,None
16,MANAGER DATA SCIENCE (H/F),Epsilon France,None,None
17,Data Scientist H/F,Ad Scientiam,None,None
18,Principal Data Scientist H/F,Safran,None,None
19,INGENIEUR RECHERCHE DATA SCIENCE (H/F),Airbus,Paris (75),None
20,Data Entry Clerk & Administrative assistant,European Society for Blood and Marrow transpla...,Paris (75),19000 € - 22000 € par an
21,Data Science / Machine Learning Engineer H/F (...,Artur'In,Paris (75),None
22,Research Data Science Intern - Active Learning,Dataiku,Paris (75),None
23,Ingénieur data,DATATORII,Paris (75),None
24,Research Data Science Intern - autoML,Dataiku,Paris (75),None
25,Data Science Consultant Intern (h/f),Nova Consulting,Paris (75),None
26,Stage - Data Science dans la production Renouv...,EDF,Palaiseau (91),None
27,Consultant Junior en Data Science – Mazars Zet...,Mazars,Paris (75),None
28,Ingénieur IA - Data Science Optimisation (H/F),ACCENTA,Paris (75),None
29,PRODUCT OWNER DATA (H/F),Epsilon France,None,None
30,CONSULTANT SENIOR DATA SCIENCE (H/F),Epsilon France,None,None
31,STAGE DATA SCIENCE (H/F),Epsilon France,None,1300 € par mois
32,,Kforce,None,None
33,Design Manager,ICDS,None,None
34,STAGE DATA SCIENCE (H/F),Epsilon France,None,1300 € par mois
35,Un.e Stagiaire Data Scientist,Greenpeace,Paris 10e (75),1000 € par mois
36,CDD - Data Scientist H/F,La Banque Postale,Paris (75),None
37,Stagiaire Data Scientist H/F,Kaisens Data,La Défense (92),None
38,Research Data Science Intern - autoML,Dataiku,Paris (75),None
39,Stage en Data Science and BI,Innoscape,Paris (75),None
40,Data Science / Machine Learning Engineer H/F (...,Artur'In,Paris (75),None
41,ÉCONOMISTE / DATA SCIENTIST - H/F,La Banque de France,Paris (75),None
42,Stage - Data Science dans la production Renouv...,EDF,Palaiseau (91),None
43,Research Data Science Intern - Active Learning,Dataiku,Paris (75),None
44,Mentor Data Science,OpenClassrooms - Mentorship Team (FR),Paris 10e (75),None
45,Project Data Management,NES Global Talent,None,None
46,Commercial Sédentaire Immobilier - 50K€ (packa...,MEILLEURS AGENTS,None,None
47,Data Scientist H/F,Ad Scientiam,None,None
48,Architect Sols Arch N,Verizon,None,None
49,DATA ENGINEER (H/F),Epsilon France,None,None

In [11]:
#df['salary'] = df['salary'].str.replace(r'\D+', '')
#df.head(50)
df.to_csv("master1_df.csv")

In [12]:
## YOUR CODE HERE
df1= df.replace({'\n':''}, regex=True)
#df1 = df1[df1['job_title'].str.contains('NaN', na=False)]['Status']
#df1=df1.loc[df.str.contains("NaN", na=False)]
#df1=df1.loc[df.str.contains("NA", na=False)]
df1.job_title.str.contains("NaN", na=False)
df1 = df.loc[~df['salary'].isnull()].drop_duplicates()
df2 = df1.loc[df1.salary.str.contains("an")]
# df2= df1.replace({'par':''}, regex=True)
# df2= df1.replace({'an':''}, regex=True
#df2 = df1.loc[df1.salary.str.contains("mois")]=None
# df3 = df2[~df2["col"]astype(str).str.contains('an')]

# yourValue = 'an'
# for cols in df2.salary:
# 	if (yourValue in df[cols]:
                 
# if 'an' not in df2['salary'].values:   
#     df['salary'] = None
                 
# df2=df1.loc[df1['salary'].str.contains('mois')]=None                
# df2=df1.loc[df1['salary'].str.contains('heure')]=None
# df2=df1.loc[['salary'].str.contains('jour')]=None
#df2['salary']=df2['salary'].replace({" ":""}, regex=True)
df2.head(50)

,job_title,company,location,salary
4,Senior Data Scientist FinTech,Easy Partner,None,75000 € - 85000 € par an
20,Data Entry Clerk & Administrative assistant,European Society for Blood and Marrow transpla...,Paris (75),19000 € - 22000 € par an
50,Data scientist H/F,Fed IT,None,50000 € - 60000 € par an
54,DATA SCIENTIST-ENGINEERS,Axance,Paris 18e (75),42000 € par an
83,Data analyste informatique - Plateforme pour l...,Easy Partner,None,44000 € - 50000 € par an
84,Data Engineer - Foodtech,Easy Partner,None,70000 € par an
122,Data Scientist Junior F/H,ESSILOR FRANCE,Créteil (94),40000 € par an
128,Data Scientist - Plateforme pour les étudiants...,Easy Partner,None,55000 € - 65000 € par an
138,CHARGE DE CLIENTÈLE A DISTANCE (H/F),Bourse des crédits,Paris 2e (75),26000 € - 36000 € par an
159,Junior Data Entry,European Society for bllod and marrow transpla...,Paris (75),25000 € par an
168,Senior Data Scientist – Start Up Fintech - H/F,EASY PARTNER,None,85000 € par an
173,[CDI] Data Scientist-Engineer (F&H),Axance Technology,Paris 18e (75),42000 € par an
211,Gestionnaire middle office crédits particulier...,Bourse des crédits,Paris 2e (75),28000 € - 35000 € par an
226,Directeur Data Science pour porter l'offre dat...,Data Recrutement,Paris (75),120000 € - 140000 € par an
263,Data Engineer,Neoxia,Paris (75),45000 € - 55000 € par an
312,Data Scientist Senior (équipe big data et IA),DRYFT,Paris (75),50000 € - 65000 € par an
360,Lead Technique Data Science,Harnham US,Paris (75),60000 € - 70000 € par an
364,"Big Data Engineer H/F (IoT, Scala, Spark, Kafka)",Square Sense,Paris (75),60000 € par an
389,Ingénieur Machine Learning |,OCTOPUS IT,Paris (75),55000 € - 85000 € par an
421,Consultant data science on site pour un jeune ...,Data Recrutement,Paris (75),44000 € - 57000 € par an
463,Data Miner,Data Recrutement,Paris (75),40000 € - 50000 € par an
467,Data Scientist - NLP,Sept Lieues,Paris (75),45000 € - 65000 € par an
529,Associate,Forensic Risk Alliance,Paris (75),29000 € par an
530,Lead Data Scientist,Konekt,Paris (75),70000 € - 80000 € par an
549,Développeur(euse) Big Data (H/F),AssessFirst,Paris (75),37000 € - 50000 € par an
550,Data scientist Phd pour révolutionner le monde...,Data Recrutement,Paris (75),65000 € - 75000 € par an
564,Consultant(e) (jeune diplômé),AKOYA,Paris (75),45000 € par an
596,Ingénieur Consultant Recherche et Innovation -...,LR Associates Cabinet de conseil en Recrutement,Paris (75),35000 € - 40000 € par an
600,TECHNICIEN SUPPORT APPLICATIF H/F,FORTIA Financial Solutions,Paris 8e (75),35000 € - 40000 € par an
695,Data Engineer pour une scale up,Data Recrutement,Paris (75),40000 € - 45000 € par an
723,Manager Data pour un cabinet de conseil disrup...,Data Recrutement,Paris (75),60000 € - 88000 € par an
800,Data scientist/engineer pour un acteur majeur ...,Data Recrutement,Paris (75),58000 € - 74000 € par an
850,FullStack Developer for Open Science [VueJs/Ex...,Publifactory,Paris 8e (75),15000 € par an
852,Data Engineer - Foodtech,Easy Partner,Paris (75),70000 € par an
891,Data Scientist - Jeune Docteur,Harnham US,Paris (75),42000 € - 48000 € par an
944,Biostaticien /programmeur,Quinten,Paris (75),40000 € - 50000 € par an
1095,VP Sales – Start-up AdTech,EASY PARTNER,Paris (75),80000 € - 100000 € par an
1097,Data Manager SNDS H/F,Inserm,Villejuif (94),41000 € - 51000 € par an
1117,Experimented Data Engineer - H/F,Seyos,Paris 9e (75),60000 € - 70000 € par an
1192,Data engineer Python pour une marketplace à fo...,Data Recrutement,Paris (75),58000 € - 70000 € par an
1210,Chargé∙e de campagne marketing,Universcience,Paris (75),31000 € - 32000 € par an
1319,Senior Data Scientist - FinTech,EASY PARTNER,Paris (75),77000 € - 83000 € par an
1327,Développeur Frontend H/F,KONEKT,Paris (75),65000 € par an
1432,Data Architecte,Data Recrutement,Paris (75),55000 € - 80000 € par an
1508,Data Engineer - H/F,RTE - Réseau de Transport d'Electricité,Nanterre (92),47000 € par an
1510,Responsable ou Chargé de Marketing Digital,Puce & Plume,Paris 12e (75),40000 € - 45000 € par an
1701,Chargé d’enseignements en Mécatronique (CDI),ESILV - Paris la Défense,La Défense (92),37000 € - 45000 € par an
1743,Développeur Front-end [CDI],Onogone,Paris (75),40000 € - 50000 € par an
1774,Data Engineer sénior – plateforme de recrutement,Konekt,Paris (75),60000 € - 70000 € par an
1797,Chargé de pharmacovigilance senior,Inserm,Paris (75),30000 € - 40000 € par an

In [13]:
# df2['salary'][df2['salary'].astype(str).str.contains('an')]
# df2.head(50)

In [14]:
# mask = df2['salary'].str.contains(r'mois', na=True)
# df2.loc[mask, 'salary'] = np.nan
#df2.head(50)

In [15]:
# def extract_average(s):
#     money = list(map(float, re.findall(r'€([\d\.]+)', s)))
#     return sum(money)/len(money)
# extract_average("50 000 € - 60 000 € par an")

In [16]:
#import string

def extract_number(salary):
    ##salary = str(salary).translate({ord(c): None for c in string.whitespace})
    #salary = str(salary).replace(",","")
    salary = str(salary).replace(",","").replace("€","").replace("-","")
    ##salary =str(salary).replace("par","").replace("an","")
    ##list=[]
    ##list=salary.split(" ")
    ##salary="".join(list)
    ##salary=int(salary)
    salary = [int(s) for s in salary.split() if s.isdigit()]
    if len(salary)>1:
        salary = (sum(salary)/2)
    else:
        salary = (sum(salary))
    return salary

#extract_number("1100 € - 1700 € par mois")
extract_number("50000 € - 60000 € par an")

55000.0

In [17]:
# mask1 = df1['salary'].str.contains(r'mois', na=True)
# df1.loc[mask1, 'salary'] = df1['salary'].map(extract_number)
# df1.loc[mask1, 'salary'] = df1['salary']*12
# df1.head(50)
df2['salary'] = df2['salary'].map(extract_number)
df2.head(50)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,job_title,company,location,salary
4,Senior Data Scientist FinTech,Easy Partner,None,80000.0
20,Data Entry Clerk & Administrative assistant,European Society for Blood and Marrow transpla...,Paris (75),20500.0
50,Data scientist H/F,Fed IT,None,55000.0
54,DATA SCIENTIST-ENGINEERS,Axance,Paris 18e (75),42000.0
83,Data analyste informatique - Plateforme pour l...,Easy Partner,None,47000.0
84,Data Engineer - Foodtech,Easy Partner,None,70000.0
122,Data Scientist Junior F/H,ESSILOR FRANCE,Créteil (94),40000.0
128,Data Scientist - Plateforme pour les étudiants...,Easy Partner,None,60000.0
138,CHARGE DE CLIENTÈLE A DISTANCE (H/F),Bourse des crédits,Paris 2e (75),31000.0
159,Junior Data Entry,European Society for bllod and marrow transpla...,Paris (75),25000.0
168,Senior Data Scientist – Start Up Fintech - H/F,EASY PARTNER,None,85000.0
173,[CDI] Data Scientist-Engineer (F&H),Axance Technology,Paris 18e (75),42000.0
211,Gestionnaire middle office crédits particulier...,Bourse des crédits,Paris 2e (75),31500.0
226,Directeur Data Science pour porter l'offre dat...,Data Recrutement,Paris (75),130000.0
263,Data Engineer,Neoxia,Paris (75),50000.0
312,Data Scientist Senior (équipe big data et IA),DRYFT,Paris (75),57500.0
360,Lead Technique Data Science,Harnham US,Paris (75),65000.0
364,"Big Data Engineer H/F (IoT, Scala, Spark, Kafka)",Square Sense,Paris (75),60000.0
389,Ingénieur Machine Learning |,OCTOPUS IT,Paris (75),70000.0
421,Consultant data science on site pour un jeune ...,Data Recrutement,Paris (75),50500.0
463,Data Miner,Data Recrutement,Paris (75),45000.0
467,Data Scientist - NLP,Sept Lieues,Paris (75),55000.0
529,Associate,Forensic Risk Alliance,Paris (75),29000.0
530,Lead Data Scientist,Konekt,Paris (75),75000.0
549,Développeur(euse) Big Data (H/F),AssessFirst,Paris (75),43500.0
550,Data scientist Phd pour révolutionner le monde...,Data Recrutement,Paris (75),70000.0
564,Consultant(e) (jeune diplômé),AKOYA,Paris (75),45000.0
596,Ingénieur Consultant Recherche et Innovation -...,LR Associates Cabinet de conseil en Recrutement,Paris (75),37500.0
600,TECHNICIEN SUPPORT APPLICATIF H/F,FORTIA Financial Solutions,Paris 8e (75),37500.0
695,Data Engineer pour une scale up,Data Recrutement,Paris (75),42500.0
723,Manager Data pour un cabinet de conseil disrup...,Data Recrutement,Paris (75),74000.0
800,Data scientist/engineer pour un acteur majeur ...,Data Recrutement,Paris (75),66000.0
850,FullStack Developer for Open Science [VueJs/Ex...,Publifactory,Paris 8e (75),15000.0
852,Data Engineer - Foodtech,Easy Partner,Paris (75),70000.0
891,Data Scientist - Jeune Docteur,Harnham US,Paris (75),45000.0
944,Biostaticien /programmeur,Quinten,Paris (75),45000.0
1095,VP Sales – Start-up AdTech,EASY PARTNER,Paris (75),90000.0
1097,Data Manager SNDS H/F,Inserm,Villejuif (94),46000.0
1117,Experimented Data Engineer - H/F,Seyos,Paris 9e (75),65000.0
1192,Data engineer Python pour une marketplace à fo...,Data Recrutement,Paris (75),64000.0
1210,Chargé∙e de campagne marketing,Universcience,Paris (75),31500.0
1319,Senior Data Scientist - FinTech,EASY PARTNER,Paris (75),80000.0
1327,Développeur Frontend H/F,KONEKT,Paris (75),65000.0
1432,Data Architecte,Data Recrutement,Paris (75),67500.0
1508,Data Engineer - H/F,RTE - Réseau de Transport d'Electricité,Nanterre (92),47000.0
1510,Responsable ou Chargé de Marketing Digital,Puce & Plume,Paris 12e (75),42500.0
1701,Chargé d’enseignements en Mécatronique (CDI),ESILV - Paris la Défense,La Défense (92),41000.0
1743,Développeur Front-end [CDI],Onogone,Paris (75),45000.0
1774,Data Engineer sénior – plateforme de recrutement,Konekt,Paris (75),65000.0
1797,Chargé de pharmacovigilance senior,Inserm,Paris (75),35000.0

In [18]:
# frames = [df1, df2]

# df3 = pd.concat(frames)

# df2= df1.replace({'\n':''}, regex=True)
# mask2 = df2['salary'].str.contains(r'semaine', na=True)
# mask3 = df1['salary'].str.contains(r'jour', na=True)
# df2.loc[mask2, 'salary'] = df1['salary'].map(extract_number)
# df3 = df1.append(df2)
# df3.head(50)

In [19]:
# mask3 = df1['salary'].str.contains(r'jour', na=True)
# df1.loc[mask3, 'salary'] = df2['salary'].map(extract_number)

# df2.head(50)

In [20]:
# mask4 = df1['salary'].str.contains(r'heure', na=True)
# df1.loc[mask4, 'salary'] = df1['salary'].map(extract_number)

# df1.head(50)

In [21]:
# df2['salary']=df2['salary'].astype('float')

# df2.loc[mask1,'salary'] = df2['salary']*12
# df2.loc[mask2,'salary'] = df2['salary']*52
# df2.loc[mask3,'salary'] = df2['salary']*365
# df2.loc[mask4,'salary'] = df2['salary']*8760
# df2.head(50)

In [22]:
# df2['salary'] = df2['salary'].map(extract_number)
# #df2['salary'] = df2['salary']*1000
# #df2["salary"] = df2["salary"].astype(int)
# df2.head(50)

In [23]:
## YOUR CODE HERE
df_master = df2.reset_index(drop=True)
df_master.to_csv("master_df.csv")

In [24]:
from kafka import KafkaProducer
filepath='master_df.csv'
producer=KafkaProducer(bootstrap_servers='localhost:9092')
producer = KafkaProducer()
with open(filepath) as fp:
    line=fp.readline()
    while line:
        JobsPy=producer.send('PredictingSalaryJobsPost',line.encode())
        line=fp.readline()
        metadata = JobsPy.get()
print(metadata.topic)
print(metadata.partition)
producer = KafkaProducer(bootstrap_servers = 'localhost:9092', retries = 5)

NoBrokersAvailable: NoBrokersAvailable

In [ ]:
from kafka import KafkaConsumer
import sys
bootstrap_servers = ['localhost:9092']
topicName = 'PredictingSalaryJobsPost'
#consumer = KafkaConsumer('test')
#for msg in consumer:
    #print(msg)
consumer = KafkaConsumer (topicName, group_id = 'PredictingSalaryJobsgroup',bootstrap_servers = bootstrap_servers,
                          auto_offset_reset = 'earliest')
try:
    for message in consumer:
        print ("%s:%d:%d: key=%s value=%s" % (message.topic, message.partition,message.offset, message.key,message.value))

except KeyboardInterrupt:
    sys.exit()

In [ ]:
df_master = pd.read_csv("master_df.csv")

In [ ]:
df_master.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
df_master.head()

In [ ]:
df_master.job_title.unique()

In [ ]:
df_master.company.unique()

In [ ]:
categories = pd.DataFrame(columns=['Gouvernement','Education','Sante','Royal','Recrutement','Finance','Energie'])

In [ ]:
job_words = pd.DataFrame(columns=['Directeur','Analyst','Scientist','Engineer','Business','Consultant','Senior',
                                  'Junior','Manager','Officer','Developer','Head of','Programmeur','Executive',
                                  'Java','Python','Lead','Intelligence','Machine Learning','Javascript','Developer',
                                  'Graduate','Recherche'])

In [ ]:
df_master = pd.concat([df_master,categories,job_words],axis=1)

In [ ]:
for key,value in categories.items():
    df_master[key] = df_master.company.map(lambda x: 1 if len(set(x.split()).intersection(set(value)))>0 else 0)

In [ ]:
for job in job_words:
    df_master[job] = df_master['job_title'].map(lambda x: 1 if job in x else 0)

In [ ]:
df_master['salary_band'] = df_master.salary.map(lambda x: "low" if x <= df_master.salary.quantile(0.5) else "high")

In [ ]:
df_master.head(10)

In [ ]:
df_master.drop_duplicates(inplace=True)

In [ ]:
df_master.shape

In [ ]:
final_df = df_master.copy()
final_df['salary_band'] = final_df.salary.map(lambda x: 0 if x <= final_df.salary.quantile(0.5) else 1)

In [ ]:
## YOUR CODE HERE
print("Baseline Accuracy:",final_df.salary_band.value_counts().max()/sum(final_df.salary_band.value_counts()))

In [ ]:
final_df.shape

In [ ]:
final_df.groupby(by="location").salary.mean().plot(figsize=(20, 6),kind="bar");

In [ ]:
X = final_df['location']
y = final_df['salary_band']

In [ ]:
X = pd.get_dummies(X) #dropping York in the predictors df, as this has the lowest mean salary as displayed above

In [ ]:
#X.drop("York",inplace=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict, cross_val_score, train_test_split
from scipy import stats
import statsmodels.formula.api as sm
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

lr = LogisticRegression()

lr.fit(X,y)

print(lr.score(X,y))

lr.coef_
lr.intercept_

In [ ]:
final_df.head()
predictor_df = final_df.copy()

In [ ]:
predictor_df.columns
predictor_df.drop(['company','job_title','location'],axis=1,inplace=True)

In [ ]:
predictor_df.drop('salary',axis=1,inplace=True)

In [ ]:
predictor_df = pd.get_dummies(predictor_df)

In [ ]:
y = predictor_df.pop('salary_band')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(predictor_df,y,test_size=0.3,random_state=2018)

In [ ]:
cross_val_score(lr,X_train,y_train,cv=5).mean()

In [ ]:
lr.get_params

In [ ]:
from sklearn.model_selection import GridSearchCV
import numpy as np
params = {'C':np.logspace(-5,5,50),
          'penalty':['l1','l2']}
lrgs = GridSearchCV(lr,params,verbose=1,cv=5)
lrgs.fit(X_train,y_train)

In [ ]:
lrgs.best_params_

In [ ]:
lrgs.best_score_

In [ ]:
best_lr = lrgs.best_estimator_

In [ ]:
coefficient_df = pd.DataFrame()
coefficient_df['Features'] = X_train.columns
coefficient_df['LR_Coefficients'] = best_lr.coef_[0]
coefficient_df['absolutes'] = abs(best_lr.coef_[0])

In [ ]:
coefficient_df.sort_values(by='absolutes',ascending=False).head(10)

In [ ]:
best_lr.score(X_test,y_test)

In [ ]:
predictions = best_lr.predict(X_test)
predictions_df = pd.DataFrame()
predictions_df['y_true'] = y_test
predictions_df['y_hat'] = predictions
predictions_df['prob_1'] = best_lr.predict_proba(X_test)[:,1]
predictions_df['70_percent_threshold'] = predictions_df['prob_1'].map(lambda x: 1 if x>0.7 else 0)
predictions_df.head(10)

In [ ]:
from sklearn.metrics import f1_score, roc_curve, precision_recall_curve, auc, average_precision_score

f1_score(y_test, predictions_df['70_percent_threshold'])

In [ ]:
from sklearn import metrics
fpr, tpr, thresh = roc_curve(y_test,predictions_df['prob_1'])
thresholds_df = pd.DataFrame()
thresholds_df['FPR'] = fpr
thresholds_df['TPR'] = tpr
thresholds_df['Thresholds'] = thresh
thresholds_df.iloc[:,:].head(5)

In [ ]:
prec, recall, thresh = precision_recall_curve(y_test,predictions_df['prob_1'])
prc_df = pd.DataFrame()
prc_df['Precision'] = prec[:-1]
prc_df['Recall'] = recall[:-1]
prc_df['Threshold'] = thresh

In [ ]:
average_precision = average_precision_score(y_test, predictions_df['prob_1'])

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

plt.step(recall, prec, color='b', alpha=0.2,
         where='post')
plt.fill_between(recall, prec, step='post', alpha=0.2,
                 color='b')
plt.rcParams["figure.figsize"] = (60,15)
plt.xlabel('Recall')
plt.ylabel('Precision')
plt.ylim([0.0, 1.05])
plt.xlim([0.0, 1.0])
plt.title('Precision-Recall curve: AP={0:0.2f}'.format(
          average_precision));

In [ ]:
import seaborn as sns
fig,ax= plt.subplots(figsize=(15,15))
sns.barplot(y=coefficient_df.Features,x=coefficient_df.LR_Coefficients, orient='h', palette='coolwarm',ax=ax);

In [ ]:
plt.plot(fpr,tpr)
plt.plot([0,1],[0,1],'--');

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(max_depth=5)
cross_val_score(rfc,X_train,y_train,cv=5).mean()

In [ ]:
rfc.get_params()

In [ ]:
X_train.shape

In [ ]:
params = {'max_depth':range(1,21),
          'max_features':["auto","log2",0.5],
         'criterion':['gini','entropy'],
         'bootstrap':[True,False],
         }
rfgs = GridSearchCV(rfc,params,verbose=1,cv=5)
rfgs.fit(X_train,y_train)

In [ ]:
rfgs.best_params_

In [ ]:
rfgs.best_score_

In [ ]:
best_rf = rfgs.best_estimator_

In [ ]:
rf_coefficient_df = pd.DataFrame()
rf_coefficient_df['Features'] = X_train.columns
rf_coefficient_df['Feature_Importances'] = best_rf.feature_importances_

In [ ]:
rf_coefficient_df.sort_values(by='Feature_Importances',ascending=False).head(10)

In [ ]:
best_rf.score(X_test,y_test)

In [ ]:
fig,ax= plt.subplots(figsize=(15,15))
sns.barplot(y=rf_coefficient_df.Features,x=rf_coefficient_df.Feature_Importances, orient='h',ax=ax);

In [ ]:
predictions = best_rf.predict(X_test)
predictions_df = pd.DataFrame()
predictions_df['y_true'] = y_test
predictions_df['y_hat'] = predictions
predictions_df['prob_1'] = best_rf.predict_proba(X_test)[:,1]
predictions_df['70_percent_threshold'] = predictions_df['prob_1'].map(lambda x: 1 if x>0.7 else 0)
predictions_df.head(10)

In [ ]:
f1_score(y_test, predictions_df['70_percent_threshold'])

In [ ]:
fpr, tpr, thresh = roc_curve(y_test,predictions_df['prob_1'])
thresholds_df = pd.DataFrame()
thresholds_df['FPR'] = fpr
thresholds_df['TPR'] = tpr
thresholds_df['Thresholds'] = thresh

In [ ]:
import matplotlib as mpl
plt.plot(fpr,tpr)
plt.rcParams["figure.figsize"] = (100,15)
plt.rcParams['lines.linewidth'] = 3
plt.rcParams['axes.titlesize'] = 24
plt.rcParams['axes.labelsize'] = 15
plt.rcParams['lines.linewidth'] = 3
plt.rcParams['lines.markersize'] = 10
plt.rcParams['xtick.labelsize'] = 16
plt.rcParams['ytick.labelsize'] = 16
plt.plot([0,1],[0,1],'--');